<manifest xmlns:android="http://schemas.android.com/apk/res/android">

  <application>
    <activity
      android:name=".PhoenixActivity"
      android:exported="false"
      android:process=":phoenix"
      android:theme="@android:style/Theme.Translucent.NoTitleBar"
      />

    <service
        android:name=".PhoenixService"
        android:exported="false"
        android:process=":phoenix"
        />
  </application>
</manifest>
